<html>
<head>
    <meta charsef="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <nav>
            <div class="pwdo-icon"></div>
            <ul class="nav-items">
                <li>Events</li>
                <li>Code of Conduct</li>
                <button>Join Now</button>
            </ul>
        </nav>
    </header>
    <section id="#hero" class="hero">
        {{ content | safe }}
    </section>
    <section id="#about" class="about">
    
    </section>
    <footer id="#footer" class="footer">
    
    </footer>
</body>
</html>