<html>
<head>
	<meta charsef="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/index.css">
	<link rel="stylesheet" href="/styles/mobile.css">
	<link rel="stylesheet" href="/styles/tablet.css">
	<link rel="icon" href="https://raw.githubusercontent.com/pwdo/Logo/master/favicon.ico"

</head>
<body>
	<header>
		<nav class="navbar">
			<a href="https://pwdo.org" target=_blank>
				<img class="pwdo-img" src="https://raw.githubusercontent.com/pwdo/Logo/master/pwdo-icon.svg"/>
			</a>
			<ul class="nav-links">
				<li>
					<a class="link link-smol" href="https://mini.formfunctionclass.com" target=_blank>
						Events
					</a>
				</li>
				<li>
					<a class="link link-smol" href="https://pwdo.org/conduct" target=_blank>
						Code of Conduct
					</a>
				</li>
				<li>
					<a class="link link-smol cta-active" href="https://pwdo.org" target=_blank>Join Now</a>
				</li>
			</ul>
			<ul class="nav-links-mobile">
				<li>
					<a class="link link-smol cta-active" href="https://pwdo.org" target=_blank>Join Now</a>
				</li>
			</ul>
		</nav>
	</header>
	<main class="main-content">
		<section id="#hero" class="hero">
			<h1 class="hero-header">Recruit. Volunteer. Get Trained. Share.</h1>
			<p class="display">Reboot is an initiative of PWDO to recruit and train people in advancing our shared advocacy to help nurture the local design community.</p>
			<!-- revisit implem later -->
			<div class="row">
				<a class="link link-thicc cta-active" href="https://pwdo.org" target=_blank>Join Now</a>
				<a class="link link-thicc cta-inactive" href="https://pwdo.org" target=_blank>About PWDO</a>
			</div>
		</section>

		<section id="#about" class="about">
			<h2 class="about-header">Nurture the people, <br> nurture the community</h2>
			<p class="display-about">As engaged as our members are, we are all volunteers at the end of the day. But, by being with people who can help you nurture, we can help grow both you and the community.</p>
			<p class="display-about">Here are some of the plans we have so far. Maybe you can help us make this better!</p>
			<ul class="big-list">
				<li class="list-item">Roles with your personal goals</li>
				<li class="list-item">Volunteer by availability</li>
				<li class="list-item">Inclusive remote orientations</li>
				<li class="list-item">Quarterly Skillshares</li>
				<li class="list-item">Internal Trainings</li>
				<li class="list-item">Periodic Socials</li>
			</ul>
		</section>
	</main>

	<footer id="#footer" class="footer">
		<div class="flex-left">
			<h2 class="footer-header">Are you ready to reboot?</h2>
			<!-- revisit implem later -->
			<a class="link link-thicc cta-active" href="https://pwdo.org" target=_blank>Join Now</a>
		</div>
		<a href="https://pwdo.org" target=_blank>
			<img class="pwdo-img-footer" src="https://github.com/pwdo/Logo/raw/master/pwdo-logo-square.png?raw=true"/>
		</a>
	</footer>
</body>
</html>