@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: "DM Sans";
    font-size: 18px;
    background-color: #1A2F4E;
    color: #FFF;
}

.main-content {
    display: flex;
    flex-direction: column;
   
}

.content-padding {
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-size: 48px;
    margin: 0px;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 42px;
    margin: 24px 0;
    letter-spacing: 0.05em;
}

p {
    line-height: 22px;
    letter-spacing: 0.1em;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1C304F;
    height: 65px;
    border-bottom: 1px solid #FFFFFF;
}

.pwdo-img {
    height: auto;
    width: 55px;
}

.pwdo-img-footer {
    height: 50%;
    width: auto;
    margin: 15px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links li {
    margin-left: 12px;
    margin-right: 12px;
}

.link {
    text-decoration: none;
    color: #FFF;
    padding: 6px 20px;
}

.cta-active {
    background-color: #48A0D7;
    border: solid 1px #48A0D7;
    border-radius: 3px;
}

.cta-inactive {
    border: solid 1px #FFF;
    border-radius: 3px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    text-align: center;
}

.hero a {
    align-self: center;
}

.hero-header {
    margin: 22px;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 0.1em;
}

.row {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.display-about {
    max-width: 45%;
}

.about {
    display: flex;
    flex-direction: column;
    min-height: 600px;
}

.section-spacer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-header {
    line-height: 42px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    min-height: 270px;
}

.footer-header {
    color: #000;
}

.big-list {
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-columns: 50% 50%;
    row-gap: 25px;
    column-gap: 40px;
    box-shadow: 0px 14px 24px rgba(81, 81, 81, 0.24);
    border-radius: 3px;
}

.list-item {
    font-size: 32px;
    padding: 17px 40px;
    text-align: center;
    font-weight: bold;
    color: #000;
    background: #fdfdfd;
}