@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    margin: 0;
    font-family: "DM Sans";
    font-size: 18px;
    background-color: #1A2F4E;
    color: #FFF;
}

.main-content {
    display: flex;
    flex-direction: column;
   
}

.content-padding {
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-size: 48px;
    margin: 0px;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 42px;
    margin: 0;
    letter-spacing: 0.05em;
}

p {
    margin: 0px;
    line-height: 22px;
    letter-spacing: 0.1em;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1C304F;
    height: 65px;
}

.pwdo-img {
    height: 100%;
    width: auto;
    margin: 15px;
}

.pwdo-img-footer {
    height: 50%;
    width: auto;
    margin: 15px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 20px;
}

.nav-links li {
    margin-left: 12px;
    margin-right: 12px;
}

.link {
    text-decoration: none;
    color: #FFF;
    padding: 6px 20px;
}

.cta-active {
    background-color: #48A0D7;
    border: solid 1px #48A0D7;
    border-radius: 3px;
}

.cta-inactive {
    border: solid 1px #FFF;
    border-radius: 3px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

.hero a {
    align-self: center;
}

.hero-header {
    margin: 22px;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 0.1em;
}

.row {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.display {
    margin: 12px;
}

.about {
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    height: 270px;
    
}

.footer-header {
    color: #000;
}
